<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta charset="UTF-8">
    <title>UDACHA - API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h2>UDACHA API</h2>
<h4>Available releases API</h4>
<div style="display: flex; flex-direction: column">
    {%for release in releases%}
    <div style="min-width: 250px">
        <a href="/api/v{{release.version}}">Release v{{release.full_version}} {{release.name}}</a>
    </div>
    {%endfor%}
</div>
</body>
</html>