<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADASTRA ASB SNPs sitemap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h2>ADASTRA ASB SNPs sitemap</h2>
<h4><a href="https://adastra.autosome.ru/{{release.name}}">go back to ADASTRA website</a></h4>
<nav>
    <ul class="pagination pagination-sm">
        {% for page in range(pages) %}
        {% if page != current_page %}
        <li class="page-item">
            <a
                    href="https://adastra.autosome.ru/sitemap/v{{release.version}}/snps/{{page}}"
                    class="page-link"
            >
                {{page}}
            </a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{current_page}}
                <span class="sr-only">(current)</span>
            </span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
<div style="display: flex; flex-wrap: wrap">
    {%for snp in snps%}
    <div style="min-width: 250px">
        <a href="{{snp.link}}">{{snp.name}}</a>
    </div>
    {%endfor%}
</div>
</body>
</html>