{#<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/typography.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}"/>
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
#}
<link media="screen" rel="stylesheet" type="text/css" href="{{ swagger_static('droid-sans.css') }}" />
<link media="screen" rel="stylesheet" type="text/css" href="{{ swagger_static('swagger-ui.css') }}" />
<style>
html
{
  height:100%;
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
*,
*:before,
*:after
{
  box-sizing: inherit;
}

body {
  margin:0;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(180deg,hsla(0,0%,98%,.95),hsla(0,0%,98%,.95) 50%,hsla(0,0%,98%,.95)),url('https://adastra.autosome.ru/assets/images/ADASTRA_bg.png') no-repeat 50% fixed;
  background-size: cover;
}
</style>
