<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <meta charset="UTF-8">
    <title>ADASTRA Transcription Factors sitemap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h2>ADASTRA Transcription Factors sitemap</h2>
<h4><a href="https://adastra.autosome.ru/{{release_name}}">go back to ADASTRA website</a></h4>
<div style="display: flex; flex-wrap: wrap">
    {%for tf in tfs%}
    <div style="min-width: 250px">
        <a href="{{tf.link}}">{{tf.name}}</a>
    </div>
    {%endfor%}
</div>
</body>
</html>